@import url('https://fonts.googleapis.com/css?family=Spartan:700&display=swap'); */
body {
  font-family: -apple-system,BlinkMacSystemFont,Ubuntu,Cantarell,"Segoe UI",Roboto,Oxygen-Sans,"Helvetica Neue",sans-serif;
}

code {
  font-family: 'Fira Code',SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
}

* {
  box-sizing: border-box;
}

pre {
  background-color: #0a0b21;
  font-size: 13px;
  line-height: 1.42857143;
  word-break: break-all;
  color: #fff;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

code>table {
  overflow-x: auto;
}
